<launch>

<!-- 0. camera setting -->
	<!-- sudo chmod 777 /dev/video0 (Front) -->
	<!-- sudo chmod 777 /dev/video0 (Front) -->
	<!-- sudo chmod 777 /dev/video1 (AVM) -->
	<!-- sudo chmod 777 /dev/video2 (Handle) -->
	<!-- roslaunch video_stream_opencv avm.launch -->
	<!-- roslaunch video_stream_opencv avm.launch -->
	<!-- roslaunch video_stream_opencv avm.launch -->

<!-- 0. velodyne setting & car_can -->
	<!-- roslaunch all_in_one1.launch -->

<!-- 1-1. kitti Seg. -->
	<!-- cdd/KittiSeg/ python3 main.py -->

<!-- 1-2. Yolo Inter. -->
	<!-- cdd/Yolo_Inter/ python3 main.py -->

<!-- 1-3. Driving Policy. -->
	<!-- cdd/parking/ python3 main~.py -->

<!-- 2-1. Yolo Parking. -->
	<!-- cdd/Yolo_Parking/ python3 main~.py -->

<!-- 2-2. local map for parking -->
	<node name="heightmap_node" pkg="velodyne_height_map" type="heightmap_node" output="screen"/>

<!-- 2-3. Parking path -->
	<!-- DO-RRT* -->
	    <!-- <node name="doRRTstar" pkg="doRRTstar" type="doRRTstar" output="screen" /> -->
	<!-- Dubins path -->
    	<node name="parking_original" pkg="parking_original" type="parking_original" output="screen" />
	<!-- Hybrid A* -->
		<node name="tf_broadcaster" pkg="hybrid_astar" type="tf_broadcaster" />
		<param name="use_sim_time" value="false" />
	    <!-- <node name="a_star" pkg="hybrid_astar" type="hybrid_astar" output="screen" /> -->

<!-- 2-4. Localization -->
	<!-- Dead Reckoning -->
	<!-- LOAM SLAM -->
	

<!-- main controller -->
    <node pkg="dyros_controller" type="dyros_controller" name="DYROS_Controller" output="screen" />
    <node name="rviz_doRRTstar" pkg="rviz" type="rviz" args="-d /home/dyros-vehicle/catkin_ws/src/doRRTstar/rviz/dorrt.rviz" />

</launch>
